{{>navbar}}

<div class="container mg">
    <div class="login">
        <h1>Welcome to the Podapp Community!</h1>
        <p>Please log in with your personal info <br> and enjoy the best episodes of all your favourite podcasts.</p>
            <form action="/login" method="POST">
                <input class="input-auth" type="email" name="email" id="email" placeholder="Email" required/>

                <input class="input-auth" type="password" name="password" id="password" placeholder="Password" required/>

                <input type="hidden" name="referer" value= {{referer}}> 

                <button class="button light" type="submit">Log in!</button>

                {{#if errorMessage}}
                    <p class="error">{{errorMessage}}</p>
                {{/if}}
            </form>
        <p>Don't you have an account yet?</br><a href="/signup">Create an account now!</a></p>
    </div>
</div>