{{> navbar }}

<div class="container">
    <div class="logout">
        <p>It's not a goobye,</p>
        <p>it's a see you later!</p>
        <form action="/login" method="GET">
            <button class="button__auth light" type="submit">Sign back in!</button>
        </form>
    </div>
</div>