{{>navbar}}

<div class="container mg">
    <div class="signup">
        <h1>Create a New Account</h1>
        <p>Come join the Podapp community! Let's set up your account.</p>
        <p>Already have one? <a href="/login">Login</a> here.</p>

        <form action="/signup" method="POST">
            <input class="input-auth" type="text" name="firstName" id="firstName" placeholder="First name" autofocus required/>

            <input class="input-auth" type="text" name="lastName"  id="lastName" placeholder="Last name" required/>

            <input class="input-auth" type="email" name="email" id="email" placeholder="Email" required/>

            <input class="input-auth" type="password" name="password" id="password" placeholder="Password" required/>

            <button class="button" type="submit">Sign up!</button>

            {{#if errorMessage}}
                <p class="error">{{errorMessage}}</p>
            {{/if}}

        </form>
    </div>
</div>