/* INPUT FIELDS */

.input-auth {
    display: inline-block;
    width: 100%;
    margin: 0.5em auto;
    padding: 0.75em 0.5em;
    background-color: white;
    border: none;
    text-align: left;
    font-family: $font-family;
    font-weight: 500;

    &:focus {
        outline: 2px solid #c0c0c0;
    }
}

/*SIGNUP FORM */
.signup {
    background-color: $color-fourth;
    padding: 2em 2em 1.25em;
    text-align: center;   

    h1 {
        color: $color-secondary;
    }

    h1, p {
        margin: 0.75em 0;
    }

    p, 
    a {
        font-size: $font-size-medium;
    }

    a {
        color: $color-secondary;
        font-weight: bold;
        text-decoration: underline;
    }
}

/*SIGNUP PREFERENCES FORM */
.signup__preferences {
    text-align: left;
    padding: 2em 2em;

    input:checked + label {
        color: $color-secondary;
        font-weight: 550;
    }

    &__label {
        margin-left: 0.6em;
    }
}

/* LOGIN & LOGOUT */
.login, 
.logout {
   background-color: $color-secondary;
   padding: 2em 2em;
   text-align: center;
   
    h1, p {
        margin: 0.75em 0;
        color: $color-primary;
    }

    p, 
    a {
        font-size: $font-size-medium;
    }

    a {
        color: $color-primary;
        font-weight: bold;
        text-decoration: underline;
    }
}