.genres-container {
    display: flex;
    margin: 1em auto;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;

    &__ul {
        padding: 1em;
    }

    &__ul__bubble {

        position: relative;
        text-align: center;
        padding:0;
    
        img {
            max-width: 15vw;
            filter: brightness(80%);
        }

        p {
            margin: 0;
            padding: 0;
            position: absolute;
            color: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}