/* COLORS */
$color-primary: rgb(255, 255, 255);
$color-secondary: rgb(132, 92, 252);
$color-terchary: #F5EA61;
$color-fourth: rgb(242, 243, 244);

$font-color-primary: rgb(73, 79, 101);
$font-color-secondary: rgb(255, 255, 255);

$card-color: rgb(255, 255, 255);
$card-font-color: rgb(94, 124, 139);

/* FONT */
$font-family: 'Montserrat', sans-serif; 

$font-size-bg: 2rem;
$font-size-medium: 1rem;
$font-size-smll: 0.60rem;

/* BODY */
body {
    font-size:16px;
    width:100%;
    height: 100%;
    background-color: $color-primary;
    color: $font-color-primary;
    font-family: $font-family;
}

a {
    text-decoration: none;
    color: $font-color-primary;
    font-weight: 500;

    &:focus,
    &:focus-visible {
        outline: 2px solid $color-secondary;

    }
    
}

/* PAGE CONTAINERS */
.container {
    width: 90%;
    max-width: 900px;
    margin: 3em auto 4.5em ;
    text-align: left;
}

/* FOOTER */

footer {
    background-color: rgb(132, 92, 252);
    padding: 1em 0;
    margin-top: 2.5em;

    p {
        text-align: center;
        color: white;
    }
}