/* COLORS */
$color-primary: rgb(255, 255, 255);
$color-secondary: rgb(132, 92, 252);
$color-terchary: #F5EA61;

$font-color-primary: rgb(73, 79, 101);
$font-color-secondary: rgb(254, 253, 255);

$card-color: rgb(255, 255, 255);
$card-font-color: rgb(94, 124, 139);

/* FONT */
$font-family: 'Montserrat', sans-serif; 

$font-size-bg: 2rem;
$font-size-medium: 1rem;
$font-size-smll: 0.5rem;

/* BODY */
body {
    font-size:16px;
    width:100vw;
    background-color: $color-primary;
    color: $font-color-primary;
    font-family: $font-family;
}

a {
    text-decoration: none;
    color: $font-color-primary;
    font-weight: 500;
}

/* PAGE CONTAINERS */
.container {
    width: 90%;
    max-width: 900px;
    margin: 3em auto;
    text-align: center;
}

/* FOOTER */

footer {
    background-color: rgb(132, 92, 252);
    padding: 1em 0;

    p {
        text-align: center;
        color: white;
    }
}