/* PODCAST PROFILE */
.podcast__header {
    width: 100%;
    height: 250px;
    max-height: 300px;
    background: linear-gradient(rgba(3, 3, 3, 0.493), rgba(7, 7, 7, 0.548)), no-repeat;
    background-size: cover;

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
    }

    &__details {
        width: 80%;
        color: $font-color-secondary;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        bottom: 90%;
        left: 5%;

        p {
            font-weight: 600;

            &.subtitle {
                font-weight: 500;
                margin-top: 0.5em;
            }
        }
        
    }
}


hr.solid {
    margin: 3% 10%;
    height: 1px;
    border: 0;
    border-top: 1.5px solid rgb(236, 234, 234)
}

.podcast-profile-actions-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.podcast-profile-actions-container i {
    padding: 2% ;
    display: flex;
    align-items: center;
    color:rgba(0, 0, 0, 0.5);
}

.podcast-profile {
    display: flex;
    align-items: center;
    padding-top: 1em;
}

.icon-name {
    font: 'Lucida Grande', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 5%;
}

.podcast-profile-actions-container .minutes {
    margin-left: auto;
    margin-right: 5%;
    color:rgba(0, 0, 0, 0.5);
}

.podcast-profile-description-container {
    display: flex;
    flex-direction: column;
}

.podcast-profile-comment {
    display: flex;
    flex-direction: column;
}

.profile-actions-left {
    flex-basis: 20%;
    margin-right: 0.5em;
}

.podcast-profile-actions-container audio {
    width: 175px; 
    height: 40px;
    display: block; 
    margin:0;
}

.profile-actions-right {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.profile-actions-right-stars {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0.5em;
}

.podcast-profile-comments-container {
    display: flex;
    flex-direction: column;
}

.podcast-profile-comments-buttons {
    display: flex;
}

.podcast-profile-comments-footer {
    display: flex;
    align-items: center;
}

.podcast-profile-comments-footer > * {
    margin-right: 1em;
}