/* PODCAST PROFILE */
.podcast__header {
    width: 100%;
    height: 250px;
    max-height: 300px;
    background: linear-gradient(rgba(3, 3, 3, 0.493), rgba(7, 7, 7, 0.548)), no-repeat;
    background-size: cover;

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
    }

    &__details {
        width: 80%;
        color: $font-color-secondary;
        display: flex;
        flex-direction: column;
        padding: 5% 5% 5% 0%;
        justify-content: flex-end;
        position: absolute;
        top: 40%;
        left: 15%;

        p {
            font-weight: 600;

            &.subtitle {
                font-weight: 500;
                margin-top: 0.5em;
            }
        }
        
    }
}



.podcast-profile-header-text-container > * {
    margin:0;
    padding: 1%;
}

hr.solid {
    margin: 3% 10%;
    height: 1px;
    border: 0;
    border-top: 0.5px solid rgb(236, 234, 234)
}

.podcast-profile-actions-container {
    display: flex;
    justify-content: flex-start;
}

.podcast-profile-actions-container i {
    padding: 2% ;
    display: flex;
    align-items: center;
    color:rgba(0, 0, 0, 0.5);
}

.podcast-profile {
    display: flex;
    align-items: center;
    padding: 2%;
}

.icon-name {
    font: 'Lucida Grande', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 5%;
}

.podcast-profile-actions-container .minutes {
    margin-left: auto;
    margin-right: 5%;
    color:rgba(0, 0, 0, 0.5);
}

.podcast-profile-description-container {
    display: flex;
    flex-direction: column;
}

.podcast-profile-comment {
    display: flex;
    flex-direction: column;
}