.podcast__header__rating {
    width: 100%;
    height: 150px;
    max-height: 300px;
    background: linear-gradient(rgba(3, 3, 3, 0.493), rgba(7, 7, 7, 0.548)), no-repeat;
    background-size: cover;
    position: relative;

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.4;
    }

    &__details {
        width: 85%;
        color: $font-color-secondary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 15%;
        left: 5%;

        h1 {
            margin: 0;
            margin-bottom: 0.2em;
        }

        p {

            &.subtitle {
                font-weight: 500;
                margin-top: 0.5em;
            }
        }
        
    }
}

.ratings-container {
    display: flex;
    margin-top: 2em;

    form {
        background: $color-fourth;
        border-radius: 5%;
        margin: 0 0.5em;
    }

    form:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}

.ratings-container form > button {
    display: flex;
    flex-direction: column;
    background: none;
    text-decoration: none;
    border: none;
    align-items: center;
    font-family: $font-family;
    padding: 1em 0;
}

.ratings-container form > button > img {
    width: 40%;
}

.ratings-container form > button > p {
    margin-top: 1em;
}