<nav class="nav small">
    <div class="nav__bar">
        <div class="nav__bar__top">
            <div class="nav__bar__top__title">
                <i class="fas fa-microphone fa-2x" style="color:white"></i>
                <a href="/"><h1>Podapp</h1></a>
            </div>

        {{#if loggedUser}}
            <div class="nav__bar__auth">
                <form action="/logout" method="POST">
                    <button class="button light small">LOGOUT</button>
                </form>
            </div> <!-- /nav__bar__auth -->
        </div><!-- /nav__bar__top -->

        <div class="nav__bar__sections">
            <a href="/favourites"><img src="/images/heart.svg" width="33" height="33" alt="Favourites list"></a>
            <a href="/"><img src="/images/magnifying-glass.svg" width="33" height="33" alt="Search podcast"></a>
            <a href="/profile"><img  src="/images/user.svg" width="33" height="33" alt="User's profile page"></a>
        </div> <!-- /nav__bar__sections -->

        {{else}}
            <div class="nav__bar__auth">
                <a  href="/signup">Signup</a>
                <a  href="/login">Login</a>
            </div> <!-- /nav__bar__auth -->
        </div><!-- /nav__bar__top -->
        {{/if}}
    </div> <!-- /nav__bar -->
</nav> <!-- /nav -->