<nav class="nav">
    <div class="nav__bar">
        <div class="nav__bar__top">
            <div class="nav__bar__top__title">
                <i class="fas fa-microphone fa-3x" style="color:white"></i>
                <h1>Podapp</h1>
            </div>

        {{#if loggedUser}}
            <div class="nav__bar__auth">
                <form action="/logout" method="POST">
                    <button class="button__auth light small">LOGOUT</button>
                </form>
            </div> <!-- /nav__bar__auth -->
        </div><!-- /nav__bar__top -->

        <div class="nav__bar__sections">
            <a href="/"> HOME </a>
            <a href="/favourites"> FAVOURITES </a>
            <a href="/profile"> PROFILE </a>
        </div> <!-- /nav__bar__sections -->

        {{else}}
            <div class="nav__bar__auth">
                <a  href="/signup">Signup</a>
                <a  href="/login">Login</a>
            </div> <!-- /nav__bar__auth -->
        </div><!-- /nav__bar__top -->
        {{/if}}
    </div> <!-- /nav__bar -->
    <div class="search-bar">
        <form class="search-bar__items" action="/podcasts/search" method="POST">
            <input type="search" results="5" name="keywords" class="searchInput" placeholder="Type person, topic, keyword" required
            inputmode="search">
            <button type="submit">
                <i class="fa fa-search icon" aria-hidden="true" style="color:grey"></i>
            </button>
        </form>
    </div><!-- /search-bar -->
</nav> <!-- /nav -->