<div id="error-page">
    <div class="content">
        <h2 class="header" data-text="404">
            404
        </h2>
        <img class="error-panda" src="../images/meditation-panda.png" width="300px" alt="">
        <p class="content__message"> Sorry, the page you're looking for doesn't exist.</p>
        <div class="btns">
            <a href="/">return home</a>
        </div>
    </div>
</div>
{{> footer}}