<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Podapp 🎧</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <nav class="nav">
        <div class="nav__bar">
            <div class="nav__bar__top">
                <div class="nav__bar__top__title">
                    <i class="fas fa-microphone fa-3x" style="color:white"></i>
                    <h1>Podcasts</h1>
                </div>

                <div class="nav__bar__auth">
                    <a href="/signup">Signup</a>
                    <a href="/login">Login</a>
                    <form action="/logout" method="POST">
                        <button>Logout</button>
                    </form>
                </div>
            </div>

            <div class="nav__bar__sections">
                <a href="/"> HOME </a></p>
                <a href="/favourites"> FAVOURITES </a></p>
            </div>


        </div>
    </nav>

    {{{body}}}


    <script src="/javascripts/script.js"></script>
</body>

</html>