body {
    margin:0;
    padding: 0;
    font: 3.2vw 'Lucida Grande', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, p {
    font: 3.2vw'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    font-family: inherit;
    color: inherit;
    border: none;
    text-decoration: none;
    width: max-content;
}

ul {
    list-style-type: none;
    margin: 2vw;
    padding: 0;
}

.error {
    background: #f02b63;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
}

/* HOME PAGE */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#genres {
    display: flex;
    justify-content: space-around;
    margin:0
}

#genres ul {
    width: 15%;
}

#genres img {
    max-width: 15vw;
    filter: brightness(80%);
}

#podcasts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#podcasts ul {
    width: 25%;
}

.genre-container {
    position: relative;
    text-align: center;
    padding:0
}

.centered {
    margin: 0;
    padding: 0;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-box {
    background-color: #4654e1;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}


::placeholder {
    color: #fff;
    opacity: 0.7; 
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

#podcasts img {
    max-width: 100%;
}


/* SIGNUP PAGE */

.auth-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
  
.container-accent {
   background-color: rgba(32, 178, 171, 0.226);
   padding: 1em;
}
  
.login, 
.logout {
   background-color: rgba(32, 178, 171, 0.205);
   padding: 2em 0;
}
  
.signup {
   background-color: rgb(235, 235, 235);
   padding: 2em 0;
}
  
.input-auth {
    display: inline-block;
    width: 90%;
    margin: 0.5em auto;
    padding: 0.75em 0.5em;
    background-color: white;
    border: none;
    color: grey;
    font-weight: bold;
    text-align: left;
}

.input-auth::placeholder {
    color: rgb(92, 91, 91);
    font-weight: bold;
    opacity: none;
}
  
.button-auth {
   margin: 0.2em;
   padding: 1em 3em;
   background-color: lightseagreen;
   border: none;
   box-shadow: lightslategray  2px 2px 2px;
   font-weight: 600;
   color: white;
   width: auto;
   height: auto;
}
  
.button-auth:hover,
.button-auth:focus {
   box-shadow: lightslategray  5px 10px 9px;
}

/* USER PROFILE */

.profile-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}


/* PODCAST PROFILE */
.podcast-profile-header-container {
    max-height: 90%;
    display: flex;
    font-size: 0.4rem;
    color: white;
    justify-content: space-around;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/constellation.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.podcast-profile-header-container img {
    max-width:20%;
    max-height:20%;
    padding: 5%;
    object-fit: contain;
    border-radius: 30px;
}

.podcast-profile-header-text-container {
    display: flex;
    flex-direction: column;
    padding: 5% 5% 5% 0%;
    justify-content: flex-end;
}

.podcast-profile-header-text-container > * {
    margin:0;
    padding: 1%;
}

hr.solid {
    margin: 3% 10%;
    height: 1px;
    border: 0;
    border-top: 0.5px solid rgb(236, 234, 234)
}

.podcast-profile-actions-container {
    display: flex;
    justify-content: flex-start;
}

.podcast-profile-actions-container i {
    padding: 2% ;
    display: flex;
    align-items: center;
    color:rgba(0, 0, 0, 0.5);
}

.fas > p {
    font: 'Lucida Grande';
    margin: 0;
    padding: 0 5%;
}

.far > p {
    font: 'Lucida Grande';
    margin: 0;
    padding: 0 5%;
}

.podcast-profile-actions-container .minutes {
    margin-left: auto;
    margin-right: 5%;
    color:rgba(0, 0, 0, 0.5);
}

.podcast-profile-description-container {
    display: flex;
    flex-direction: column;
}