<div class="profile-container">
    <div class="edit">
        <h2>Update your account information</h1>
        <form action="/profile/edit" method="POST">
            <input class="input-auth" type="text" name="firstName" id="firstName" value="{{userFromDB.firstName}}"/>

            <input class="input-auth" type="text" name="lastName"  id="lastName" value="{{userFromDB.lastName}}"/>

            <input class="input-auth" type="email" name="email" id="email" value="{{userFromDB.email}}" />
        </br>
        <hr>
        </br>
        <h2>Update your preferences</h1>
        <p>Select your new preferences:</p>
        <div> 
            <input type="checkbox" id="technology" name="preferences" value="Technology" {{#ifInPreferences 'Technology' userFromDB.preferences }} checked {{/ifInPreferences}}>
            <label class="preferences-label" for="technology">Technology</label>

            </br>

            <input type="checkbox" id="business" name="preferences" value="Business" {{#ifInPreferences 'Business' userFromDB.preferences }} checked {{/ifInPreferences}}>
            <label class="preferences-label" for="business">Business</label>

            </br>

            <input type="checkbox" id="games" name="preferences" value="Games" {{#ifInPreferences 'Games' userFromDB.preferences }} checked {{/ifInPreferences}}>
            <label class="preferences-label" for="games">Games</label>

            </br>

            <input type="checkbox" id="science" name="preferences" value="Science" {{#ifInPreferences 'Science' userFromDB.preferences }} checked {{/ifInPreferences}}>
            <label class="preferences-label" for="science">Science</label>

            </br>

            <input type="checkbox" id="sports" name="preferences" value="Sports" {{#ifInPreferences 'Sports' userFromDB.preferences }} checked {{/ifInPreferences}}>
            <label class="preferences-label" for="sports">Sports</label>

            </br>
            </br>

            <button class="button-auth" type="submit">Save preferences</button>
        </div>
        </form>
    </div>
</div>