<div>
    <ul>
        <img src="{{podcastDB.image}}" alt="">
        <h2>{{podcastDB.title}}</h2>
        <p>{{podcastDB.author}}</p>
        <p>{{podcastDB.description}}</p>
        </a>
    </ul>
</div>