{{>navbar}}
<div class="container">
    <p> Did you like <strong>{{podcastDB.title}}</strong> ?</p>

    <div class="ratings-container">
        <form action="/podcast/{{podcastDB._id}}/rating/1.67" method="POST">
                <button>
                    <img src="../../images/Very_Angry_Emoji.png" alt="Angry Face">
                    <p>Terrible</p>
                </button>
        </form>

        <form action="/podcast/{{podcastDB._id}}/rating/3.33" method="POST">
                <button>
                    <img src="../../images/Neutral_Face_Emoji.png" alt="Neutral Face">
                    <p>Just fine</p>
                </button>
        </form>
        
        <form action="/podcast/{{podcastDB._id}}/rating/5" method="POST">
                <button>
                    <img src="../../images/Heart_Eyes_Emoji.png" alt="Heart Eyes Face">
                    <p>Love it</p>
                </button>
        </form>
    </div>
</div> <!-- /container -->