<div id="podcasts">
    {{#each podcastsDB}}
    <ul>
        <a href="/podcasts/{{_id}}">
            <img src="{{image}}" alt="">
            <h2>{{title}}</h2>
            <p>{{author}}</p>
        </a>
    </ul>
    {{/each}}
</div>